*{
    margin: 0;
    padding: 0;
    border: border-box;
}

.header{
    height: 72px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #656566;
    font-weight: 600;
}

.logo{
    font-size: 36px;
    color: rgb(165, 8, 81);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 20px;

}
.search{
    width: 400px;
    height: 36px;
    font-size: 16px;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secondRow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 54px ;
    font-size: 18px;
    color: #6d6d6e;
    font-weight: 500;
}
.thirdRow{
    height: 344px;
    margin-top: 40px;
    margin-left: 200px;
    margin-right:200px;
    background-color: aliceblue;
}
.first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.firstOne{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 344px;
    width: 400px ;
    align-items: center;
}
.box1{
    font-size:40px;
    font-weight: 700;
    word-spacing: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 58px;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    background-color: white;
    border-radius: 4px;
}
.one{
    height: 40px;
    width: 33%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.two{
    height: 40px;
    width: 33%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.three{
    height: 40px;
    width: 33%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.box3{
    border: 1px solid blueviolet;
    background-color: blueviolet;
    border-radius: 4px;
    width:84%;
    height: 38px;
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    padding-top: 4px;
    color: antiquewhite;
}
.forthRow{
    height: 88px;
    width: 800px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-top: 20px;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.fifthRow{
    height: 500px;
    margin-top: 40px;
    margin-left: 200px;
    margin-right:200px;
    background-color: rgb(109, 17, 121);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.fifthOne{
    height: 80%;
    width: 34%;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.womensStore{
    height: 20%;
    color: rgb(40, 7, 44);
    text-align: center;
    font-size: 180%;
    font-weight: 760;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.FOtwo{
    display: flex;
    justify-content: space-around;
    height: 42%;
}
.boxL{
    width: 40%;  
    height: 84%;
    text-align: center;
    font-size: 100%;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.boxR{
    width: 40%;
    height: 84%;
    text-align: center;
    font-size: 100%;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.FOthree{
    display: flex;
    justify-content: space-around;
    height: 42%;   
}
.sixRow{
    height: 500px;
    margin-top: 40px;
    margin-left: 200px;
    margin-right:200px;
    background-color: rgb(109, 17, 121);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sixBox1{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sixBoxEss{
    font-size: 70px;
    font-family: 800;
    color: antiquewhite;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sixBoxMore{
    height: 50px;
    width: 60%;
    font-size: 36px;
    color: antiquewhite;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(192, 143, 8);
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sixBox2{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.kaushik{
    height: 60%;
    width: 30%;
    border-radius: 20px;
    background-color:white;
    border: 2px soid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.kaushik img{
    width: 60%;
    height: 34%;
    object-fit: cover;
    border-radius: 10px; 
}
button{
    background-color: rgb(241, 202, 225);
    width:70%;
    height: 10%;
    font-size: 84%;
    font-weight: 750;
    border-radius: 10px;
}
.sevenRow{
    height: 500px;
    margin-top: 40px;
    margin-left: 200px;
    margin-right:200px;
    background-color: rgb(109, 17, 121);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.fifthTwo{
    height: 400px;
    width: 56%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 40px;
}
.fTwoText{
    height: 100px;
    color: white;
    display: flex;
    background-color: rgb(109, 17, 121);
    justify-content: center;
    font-size: 42px;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fTwobox{
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.fifthLeft{
    height:100%;
    background-color: white;
    width: 48%;
    border-radius: 14px;
}
.fifthRight{
    height: 100%;
    background-color: white;
    width: 48%;
    border-radius: 14px;
}


.boxL img{ 
    width: 100%;
    height: 80%;
    object-fit:contain;
    border: 1.5px solid black;
    border-radius: 6%;
}
.boxR img{ 
    width: 100%;
    height: 80%;
    object-fit: contain;
    border: 1.5px solid black;
    border-radius: 6%;
}